*{
  box-sizing: border-box;
}
.side-bar {
  color: $white;
  width: 300px;
  height:100%;
  position: relative;
  .header {
    background-color: $side_blue_dark;
    height: 100px;
    line-height: 100px;
    padding: 0 20px;
    &__name {
      display: inline-block;
      font-size: $side_header_font;
      font-weight: bold;
    }
    &__lists {
      display: inline-block;
      float: right;
      .list {
        display: inline-block;
      }
      .icon {
        color: $white;
        font-size: $side_header_font;
      }
    }
  }

  .groups {
    background-color: $side_blue_light;
    height: calc(100% - 100px);
    width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 100px;
    overflow: scroll;
    a {
      text-decoration: none;
    }
    .group {
      padding: 20px 0 40px;
      &__name {
        color: $white;
        font-size: $side_group_name;
      }
      &__message {
        color: $white;
        font-size: $side_group_message;
        margin-top: 5px;
      }
    }
  }
}